.subscriber-code-container {
  .k-textbox-container::after {
    background-color: unset;
  }

  .subscriber-code {
    width: 100%;
    display: flex;

    &-field {
      width: 25%;
      padding-right: 10px;

      .k-textbox {
        width: 100%;
      }
    }

    &-field:last-child {
      padding-right: 0;
    }
  }
}

.from-to-date-picker {
  display: flex;

  @media (max-width: '768px') {
    display: block;
    .form-group-field {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  .form-group-field {
    margin-right: 10px;
  }

  .form-group-field:last-child {
    margin-right: 0;
  }
}
