@import '../../assets/scss/material-kit-react.scss';

.page-header {
  margin-bottom: 10px;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 2px solid $primary;
  display: flex;

  @media (max-width: '768px') {
    display: block;
  }

  h3 {
    margin: 0;
  }

  &-title {
    flex-grow: 1;
  }

  &-children {
  }
}
